include includes/head.pug
body
  include includes/header.pug
  main(role='main').page
    section.section
      .wrapper.wrapper__page
        h1.title.title__page Чтобы написать, нажмите на кнопку ниже
        a.btn.btn-page__btn.show__form(href="#")  Написать
  include includes/footer.pug